
@{
    ViewData["Title"] = "DetalleSol";
}
@if (ViewBag.mensaje != null)
{
    @if (ViewBag.result)
    {
        <div style="background-color: lightgreen;color:white; padding:1em;border-radius: 25px;" align="center"><strong>@ViewBag.mensaje</strong></div>
    }
    else
    {
        <div style="background-color: lightcoral;color:white; padding:1em;border-radius: 25px;" align="center"><strong>Error: @ViewBag.mensaje</strong></div>
    }
}
@if (ViewBag.solicitud.status == 6)
{
    <div style="background-color: #ffc107; padding:1em;border-radius: 25px;" align="center"><strong>ATENCIÓN: Se han solicitado cambios a uno o más documentos de esta solicitud, es necesario esperar a que se realicen  dichos cambios por parte del asesor para poder continuar con el proceso de dictamen.</strong></div>
}
@if (ViewBag.error == null)
{
    <div class="container" style="margin:1em;">
        <div class="col-md-12 row" style="background-color: #e5e5e5;padding:1em;border-radius: 25px;border-radius: 25px;opacity:.9;">
            <div class="col-md-5 col-md-offset-5"></div>
            <h1><label><strong>Detalle</strong></label></h1>
            @if (ViewBag.solicitud.status == 2)
            {
                <label class="badge badge-success" style="height: 21px;">APROBADO</label>
            }
            else if (ViewBag.solicitud.status == 3)
            {
                <label class="badge badge-danger" style="height: 21px;">DENEGADO</label>
            }
            else if (ViewBag.solicitud.status == 6)
            {
                <label class="badge badge-warning" style="height: 21px;">REVISIÓN</label>
            }
            else if (ViewBag.solicitud.status == 7)
            {
                <label class="badge badge-secondary" style="height: 21px;">EN ESPERA DE CONSULTA DE BURÓ</label>
            }
            else if (ViewBag.solicitud.status == 8)
            {
                <label class="badge badge-secondary" style="height: 21px;">EN PROCESO DE CONSULTA DE BURÓ</label>
            }
            else if (ViewBag.solicitud.status == 9)
            {
                <label class="badge badge-primary" style="height: 21px;">POR DICTAMINAR</label>
            }
            else if (ViewBag.solicitud.status == 10)
            {
                <label class="badge badge-danger" style="height: 21px;">ERROR EN CONSULTA DE BURÓ</label>
            }
            else
            {
                <label class="badge badge-info" style="height: 21px;">POR AUTORIZAR CONSULTA DE BURÓ</label>
            }
        </div>
    </div>
    <div class="container" style="margin-bottom:.5em;" align="center">
        <div class="col-md-12 row" style="background-color: #f5f5f5;padding:1em;border-radius: 25px;opacity:.9;">
            <div class="col-md-6">
                <table class="table table-sm">
                    <col width="40%">
                    <col width="60%">
                    <tbody>
                        <tr>
                            <td><strong>NOMBRE:</strong></td>
                            <td>
                                @(ViewBag.solicitud.persona.nombre + " " + ViewBag.solicitud.persona.nombreSegundo + " " + ViewBag.solicitud.persona.apellido + " " + ViewBag.solicitud.persona.apellidoSegundo)
                            </td>
                        </tr>
                        <tr>
                            <td><strong>CURP:</strong></td>
                            <td>@ViewBag.solicitud.persona.curp</td>
                        </tr>
                        <tr>
                            <td><strong>RFC:</strong></td>
                            <td>@ViewBag.solicitud.persona.rfc</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <table class="table table-sm">
                    <col width="40%">
                    <col width="60%">
                    <tbody>
                        <tr>
                            <td><strong>DIRECCIÓN (CALLE Y NUMERO):</strong></td>
                            <td>
                                @ViewBag.solicitud.direccion.direccion1
                            </td>
                        </tr>
                        <tr>
                            <td><strong>DELEGACIÓN/MUNICIPIO:</strong></td>
                            <td>@ViewBag.solicitud.direccion.delegacionMunicipio</td>
                        </tr>
                        <tr>
                            <td><strong>ESTADO:</strong></td>
                            <td>@ViewBag.solicitud.direccion.estado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-sm">
                    <col width="40%">
                    <col width="60%">
                    <tbody>
                        <tr>
                            <td><strong>FECHA DE NACIMIENTO:</strong></td>
                            <td>
                                @ViewBag.solicitud.persona.fechaNacimiento.ToString("dd/MM/yyyy")<br>
                                <label style="font-size: .75em;color:grey;">dia / mes / año</label>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>TELEFONO:</strong></td>
                            <td>@ViewBag.solicitud.persona.telefono</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <table class="table table-sm">
                    <col width="40%">
                    <col width="60%">
                    <tbody>
                        <tr>
                            <td><strong>COLONIA/<br>POBLACION:</strong></td>
                            <td>
                                @ViewBag.solicitud.direccion.coloniaPoblacion
                            </td>
                        </tr>
                        <tr>
                            <td><strong>CIUDAD:</strong></td>
                            <td>@ViewBag.solicitud.direccion.ciudad</td>
                        </tr>
                        <tr>
                            <td><strong>C.P.:</strong></td>
                            <td>@ViewBag.solicitud.direccion.cp</td>
                        </tr>
                        <tr>
                            <td><strong>PAIS:</strong></td>
                            <td>@ViewBag.solicitud.direccion.pais</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom:.5em;" align="center">
        <div class="col-md-12 row" style="background-color: #f5f5f5;padding:1em;border-radius: 25px;opacity:.9;">
            <div class="col-md-6">
                <label><strong>DOCUMENTOS:</strong></label>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Versión</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Documento doc in ViewBag.solicitud.documentos)
                        {
                            <tr>
                                <td>
                                    @foreach (var dist in (IEnumerable<catDocumento>)ViewBag.catDocumentos)
                                    {
                                        if (doc.tipo == dist.tipo)
                                        {
                                            <label id="tipoDoc_@doc.tipo">@dist.descDocumento</label>
                                        }
                                    }
                                </td>
                                <td>
                                    @doc.version
                                </td>
                                <td>
                                    <a href="#" class="popup" onClick="return false;" oid="@doc.documento">VER</a>
                                    |
                                    @if (doc.solicitudCambio == true)
                                    {
                                        <a href="#" id="@doc.documento.Substring(doc.documento.Length - 36)" class="form_cambio" onClick="return false;" tipo="@doc.tipo" version="@doc.version" text="@doc.observacion" data-toggle="modal" data-target="#ModalCambioDoc" style="font-weight:bold;">PENDIENTE</a>
                                    }
                                    else if (@ViewBag.solicitud.status == 1 || @ViewBag.solicitud.status == 6)
                                    {
                                        <a href="#" id="@doc.documento.Substring(doc.documento.Length - 36)" class="form_cambio" onClick="return false;" tipo="@doc.tipo" version="@doc.version" data-toggle="modal" data-target="#ModalCambioDoc">CAMBIAR</a>
                                    }
                                    else
                                    {
                                        <lable><strong>✓</strong></lable>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <label><strong>IMPORTE:</strong></label>
                <label class="badge badge-success" style="font-size:1em"><strong>@string.Format("{0:#,0.00}", ViewBag.solicitud.importe)</strong></label>
                <div class="" style="margin-top: 6em;">
                    <center id="botonera">
                        @if (@ViewBag.solicitud.status == 1)
                        {

                            <a href="/Bandeja/cambioEstado/?_ID=@ViewBag.solicitud.solicitudID&status=7" class="btn btn-info btn_ACB">AUTORIZAR CONSULTA DE BURÓ</a>

                        }
                        else if (@ViewBag.solicitud.status == 9)
                        {
                            <a href="/Bandeja/cambioEstado/?_ID=@ViewBag.solicitud.solicitudID&status=2&grupo=@ViewBag.solicitud.grupoID" class="btn btn-success btn_APR">APROBAR</a>
                            <a href="/Bandeja/cambioEstado/?_ID=@ViewBag.solicitud.solicitudID&status=3&grupo=@ViewBag.solicitud.grupoID" class="btn btn-danger btn_DEN">DENEGAR</a>
                        }
                    </center>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal2 CAMBIO DE DOCUMENTO-->
    <div class="modal fade" id="ModalCambioDoc" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <label style="margin-left: auto;"><Strong>SOLICITAR CAMBIO DE DOCUMENTO</Strong></label>
                    <button type="button" class="close accionModal" data-dismiss="modal">&times;</button>
                    <button type="button" class="close cargandoModal">-</button>
                </div>
                <div id="form_cambio" class="modal-body">
                    <label id="label_doc"></label>
                    <div class="form-group">
                        <label>Observación:</label>
                        <br />
                        <textarea id="text_cambio" placeholder="Escribe aquí de forma breve el motivo del cambio." style="width:100%" rows="3" maxlength="99" onkeyup="this.value = this.value.toUpperCase();"></textarea>
                    </div>
                    <div class="form-group" align="center">
                        <button id="enviar_cambio" type="button" class="btn btn-success accionModal">Enviar</button>
                        <label class="cargandoModal"><strong>SOLICITANDO CAMBIOS ...</strong></label>
                    </div>
                </div>
                <!--<div class="modal-footer">
                </div>-->
            </div>

        </div>
    </div>
}
else
{
    <div style="background-color: lightcoral;color:white; padding:1em;" align="center"><strong>Error: @ViewBag.error</strong></div>
}

<script>
    $(document).ready(function () {
        $(".popup").click(function () {
            window.open("/Bandeja/Documento/?documentoUrlBase64=" + btoa($(this).attr('oid')), btoa($(this).attr('oid')), "width=800,height=600, top=85,left=50");
        });
    });

    $(".btn_ACB").click(function (e) {
        var res = confirm("Antes de AUTORIZAR LA CONSULTA DE BURÓ confirme que ha validado todos datos y documentos de esta solicitud.\n\n\nPara Confirmar de clic en 'ACEPTAR'");
        if (res) {
            $("#botonera").html("<strong>CARGANDO ...</strong>");
        }
        console.log(res);
        return res;
    });

    $(".btn_DEN").click(function (e) {
        var res = confirm("Esta a punto de DENEGAR la solicitud.\n\n\nPara Confirmar de clic en 'ACEPTAR'");
        if (res) {
            $("#botonera").html("<strong>CARGANDO ...</strong>");
        }
        console.log(res);
        return res;
    });

    $(".btn_APR").click(function (e) {
        var res = confirm("Esta a punto de APROBAR la solicitud.\n\n\nPara Confirmar de clic en 'ACEPTAR'");
        if (res) {
            $("#botonera").html("<strong>CARGANDO ...</strong>");
        }
        console.log(res);
        return res;
    });

    $(".form_cambio").click(function () {
        $("#label_doc").html("<strong>" + $("#tipoDoc_" + $(this).attr('tipo')).text() + "</strong >");
        $("#enviar_cambio").attr("oid", $(this).attr("id"));
        $("#enviar_cambio").attr("tipo", $(this).attr("tipo"));
        $("#enviar_cambio").attr("version", $(this).attr("version"));
        //console.log($(this).attr("id"))
        $("#text_cambio").attr("disabled", false);
        $("#enviar_cambio").show();
        $(".accionModal").show();
        $(".cargandoModal").hide();
        $("#text_cambio").val("");
        if ($(this).text() == "PENDIENTE") {
            $("#text_cambio").val($(this).attr("text"));
            $("#text_cambio").attr("disabled", true);
            $("#enviar_cambio").hide();
        }
    });

    $("#enviar_cambio").click(function (e) {
        $("#enviar_cambio").attr("disabled", true);
        var observ = $("#text_cambio").val();
        var idElem = $(this).attr("oid");
        var idDoc = "@ViewBag.solicitud.solicitudID";
        var tipo = $(this).attr("tipo");
        var version = $(this).attr("version");
        if (observ.length > 0) {
            console.log('#'+idDoc);
            if (confirm("Esta a punto de solicitar una Cambio para este Documento, no podrá autorizar hasta que se haga el cambio.\n\n\n¿Desea continuar?")) {
                var cambio = {
                    idDocumento: idDoc,
                    observacion: observ,
                    tipo: tipo,
                    version: version
                };
                $.ajax({
                    type: "POST",
                    url: "/Bandeja/CambioDocumento",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: cambio,
                    beforeSend: function (xhr) {
                        $(".accionModal").hide();
                        $(".cargandoModal").show();
                    },
                    success: function (d) {
                        if (d.Success) {
                            $("#text_cambio").val("");
                            $('#ModalCambioDoc').modal('toggle');
                            $('.btn_ACB').remove();
                            $('#' + idElem).text("PENDIENTE");
                            //$('#' + idElem).addClass("btn-warning");
                            $('#' + idElem).css('font-weight', 'bold');
                            $('#' + idElem).attr('text', observ);
                        } else {
                            alert("Error");
                        }
                        $("#enviar_cambio").attr("disabled", false);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                        $("#enviar_cambio").attr("disabled", false);
                    }
                });
            } else {
                $("#enviar_cambio").attr("disabled", false);
            }
        } else {
            alert("Es necesario escribir el motivo del cambio.\nMaximo en 100 caracteres.");
            $("#enviar_cambio").attr("disabled", false);
        }
    });
</script>