
@{
    ViewData["Title"] = "DetalleSol";
}
@if (ViewBag.mensaje != null)
{
    @if (ViewBag.result)
    {
        <div style="background-color: lightgreen;color:white; padding:1em;border-radius: 25px;" align="center"><strong>@ViewBag.mensaje</strong></div>
    }
    else
    {
        <div style="background-color: lightcoral;color:white; padding:1em;border-radius: 25px;" align="center"><strong>Error: @ViewBag.mensaje</strong></div>
    }
}

@if (ViewBag.error == null)
{
    @if (ViewBag.solicitud.status == 6)
    {
        <div style="background-color: indianred;color: white; padding:1em;border-radius: 25px;" align="center"><strong>ATENCIÓN: Se han solicitado cambios a uno o más documentos de esta solicitud, es necesario esperar a que se realicen  dichos cambios por parte del asesor para poder continuar con el proceso de dictamen.</strong></div>
    }
    else if (ViewBag.solicitud.status == 10)
    {
        <div style="background-color: indianred;color: white; padding:1em;border-radius: 25px;" align="center"><strong>ATENCIÓN: A ocurrido un error al realizar la consulta de buró, por favor revisa detalladamente toda la información de esta solicitud para identificar que pudo podrucir dicho error y actualiza. No olvides volver a autorizar la consulta de buró.</strong></div>
    }
    <div class="container" style="margin:1em;">
        <div class="col-md-12 row" style="background-color: #e5e5e5;padding:1em;border-radius: 25px;border-radius: 25px;opacity:.9;">
            <div class="col-md-5 col-md-offset-5"></div>
            <h1><label><strong>Detalle</strong></label></h1>
            @if (ViewBag.solicitud.status == 2)
            {
                <label class="badge badge-success" style="height: 21px;">DICTAMINADO</label>
            }
            else if (ViewBag.solicitud.status == 3)
            {
                <label class="badge badge-danger" style="height: 21px;">RECHAZADO</label>
            }
            else if (ViewBag.solicitud.status == 6)
            {
                <label class="badge badge-warning" style="height: 21px;">REVISIÓN</label>
            }
            else if (ViewBag.solicitud.status == 7)
            {
                <label class="badge badge-info" style="height: 21px;">EN ESPERA DE CONSULTA DE BURÓ</label>
            }
            else if (ViewBag.solicitud.status == 8)
            {
                <label class="badge badge-info" style="height: 21px;">EN PROCESO DE CONSULTA DE BURÓ</label>
            }
            else if (ViewBag.solicitud.status == 9)
            {
                <label class="badge badge-primary" style="height: 21px;">POR DICTAMINAR</label>
            }
            else if (ViewBag.solicitud.status == 10)
            {
                <label class="badge badge-danger" style="height: 21px;">ERROR EN CONSULTA DE BURÓ</label>
            }
            else
            {
                <label id="_label" class="badge badge-secondary" style="height: 21px;">POR AUTORIZAR CONSULTA DE BURÓ</label>
            }
        </div>
    </div>
    <div class="container" style="margin-bottom:.5em;" align="center">
        <div class="col-md-12 row" style="background-color: #f5f5f5;padding:1em;border-radius: 25px;opacity:.9;">
            <div class="col-md-6">
                <table class="table table-sm">
                    <col width="40%">
                    <col width="60%">
                    <tbody>
                        <tr>
                            <td><span class="flaticon-man-user" style="position: relative;margin-left: -20px;color: lightgray;"></span><strong> NOMBRE:</strong></td>
                            <td id="tdNombre">
                                @(ViewBag.solicitud.persona.nombre + " " + ViewBag.solicitud.persona.nombreSegundo + " " + ViewBag.solicitud.persona.apellido + " " + ViewBag.solicitud.persona.apellidoSegundo)
                            </td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-name-1" style="position: relative;margin-left: -20px;color: lightgray;"></span><strong> CURP:</strong></td>
                            <td id="tdCurp">@ViewBag.solicitud.persona.curp</td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-id-card" style="position: relative;margin-left: -20px;color: lightgray;"></span><strong> RFC:</strong></td>
                            <td id="tdRfc">@ViewBag.solicitud.persona.rfc</td>
                        </tr>
                    </tbody>
                </table>
                <!--<br />
                <table class="table table-sm">
                    <col width="40%">
                    <col width="60%">
                    <tbody>
                        <tr>
                            <td><span class="flaticon-address" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>DIRECCIÓN (CALLE Y<br>&nbsp&nbsp&nbsp&nbsp&nbspNUMERO):</strong></td>
                            <td>
                                @ViewBag.solicitud.direccion.direccion1
                            </td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-hotel" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>DELEGACIÓN/<br>&nbsp&nbsp&nbsp&nbsp&nbspMUNICIPIO:</strong></td>
                            <td>@ViewBag.solicitud.direccion.delegacionMunicipio</td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-museum" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>ESTADO:</strong></td>
                            <td>@ViewBag.solicitud.direccion.estado</td>
                        </tr>
                    </tbody>
                </table>-->
            </div>
            <div class="col-md-6">
                <table class="table table-sm">
                    <col width="40%">
                    <col width="60%">
                    <tbody>
                        <tr>
                            <td><span class="flaticon-calendar" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>FECHA DE<br>&nbsp&nbsp&nbsp&nbsp&nbspNACIMIENTO:</strong></td>
                            <td>
                                <text id="tdFechaNac">@ViewBag.solicitud.persona.fechaNacimiento.ToString("dd/MM/yyyy")</text><br>
                                <label style="font-size: .75em;color:grey;">dia / mes / año</label>
                            </td>
                            <td>
                                @if (@ViewBag.solicitud.status == 1 || @ViewBag.solicitud.status == 10)
                                {
                                    <a href="#"><span class="flaticon-pencil-edit-button" style="position: relative;margin-left: -20px;" id="btn_editar1" onClick="return false;" data-toggle="modal" data-target="#ModalEditar1"></span></a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-call-answer" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>TELEFONO:</strong></td>
                            <td id="tdTelefono">@ViewBag.solicitud.persona.telefono</td>
                        </tr>
                    </tbody>
                </table>
                <!--<br />
                <table class="table table-sm">
                    <col width="40%">
                    <col width="60%">
                    <tbody>
                        <tr>
                            <td><span class="flaticon-village" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>COLONIA/<br>&nbsp&nbsp&nbsp&nbsp&nbspPOBLACION:</strong></td>
                            <td>
                                @ViewBag.solicitud.direccion.coloniaPoblacion
                            </td>
                            <td>
                                <a href="#"><span class="flaticon-pencil-edit-button" style="position: relative;margin-left: -20px;" id="btn_editar2" onClick="return false;" data-toggle="modal" data-target="#ModalEditar2"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-city" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>CIUDAD:</strong></td>
                            <td>@ViewBag.solicitud.direccion.ciudad</td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-mailbox" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>C.P.:</strong></td>
                            <td>@ViewBag.solicitud.direccion.cp</td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-flag" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>PAIS:</strong></td>
                            <td>@ViewBag.solicitud.direccion.pais</td>
                        </tr>
                    </tbody>
                </table>-->
            </div>
            <div class="col-md-6">
                <table class="table table-sm">
                    <col width="40%">
                    <col width="60%">
                    <tbody>
                        <tr>
                            <td><span class="flaticon-address" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>DIRECCIÓN (CALLE Y<br>&nbsp&nbsp&nbsp&nbsp&nbspNUMERO):</strong></td>
                            <td id="tdCalle">
                                @ViewBag.solicitud.direccion.direccion1
                            </td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-hotel" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>DELEGACIÓN/<br>&nbsp&nbsp&nbsp&nbsp&nbspMUNICIPIO:</strong></td>
                            <td id="tdMunicipio">@ViewBag.solicitud.direccion.delegacionMunicipio</td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-museum" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>ESTADO:</strong></td>
                            <td id="tdEstado">@ViewBag.estado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-sm">
                    <col width="40%">
                    <col width="60%">
                    <tbody>
                        <tr>
                            <td><span class="flaticon-village" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>COLONIA/<br>&nbsp&nbsp&nbsp&nbsp&nbspPOBLACION:</strong></td>
                            <td id="tdColonia">
                                @ViewBag.solicitud.direccion.coloniaPoblacion
                            </td>
                            <td>
                                @if (@ViewBag.solicitud.status == 1 || @ViewBag.solicitud.status == 10)
                                {
                                    <a href="#"><span class="flaticon-pencil-edit-button" style="position: relative;margin-left: -20px;" id="btn_editar2" onClick="return false;" data-toggle="modal" data-target="#ModalEditar2"></span></a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-city" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>CIUDAD:</strong></td>
                            <td id="tdCiudad">@ViewBag.solicitud.direccion.ciudad</td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-mailbox" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>C.P.:</strong></td>
                            <td id="tdCP">@ViewBag.solicitud.direccion.cp</td>
                        </tr>
                        <tr>
                            <td><span class="flaticon-flag" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>PAIS:</strong></td>
                            <td id="tdPais">@ViewBag.solicitud.direccion.pais</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom:.5em;" align="center">
        <div class="col-md-12 row" style="background-color: #f5f5f5;padding:1em;border-radius: 25px;opacity:.9;">
            <div class="col-md-6">
                <label><span class="flaticon-portfolio" style="position: relative;margin-left: -20px;color: lightgray;"></span> <strong>DOCUMENTOS:</strong></label>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Versión</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Documento doc in ViewBag.solicitud.documentos)
                        {
                            <tr>
                                <td>
                                    @foreach (var dist in (IEnumerable<catDocumento>)ViewBag.catDocumentos)
                                    {
                                        if (doc.tipo == dist.tipo)
                                        {
                                            <label id="tipoDoc_@doc.tipo">@dist.descDocumento</label>
                                        }
                                    }
                                </td>
                                <td>
                                    @doc.version
                                </td>
                                <td>
                                    <a href="#" class="popup" onClick="return false;" oid="@doc.documento">VER</a>
                                    |
                                    @if (doc.solicitudCambio == true)
                                    {
                                        <a href="#" id="@doc.documento.Substring(doc.documento.Length - 36)" class="form_cambio" onClick="return false;" tipo="@doc.tipo" version="@doc.version" text="@doc.observacion" data-toggle="modal" data-target="#ModalCambioDoc" style="font-weight:bold;">PENDIENTE</a>
                                    }
                                    else if (@ViewBag.solicitud.status == 1 || @ViewBag.solicitud.status == 6)
                                    {
                                        <a href="#" id="@doc.documento.Substring(doc.documento.Length - 36)" class="form_cambio" onClick="return false;" tipo="@doc.tipo" version="@doc.version" data-toggle="modal" data-target="#ModalCambioDoc">CAMBIAR</a>
                                    }
                                    else
                                    {
                                        <!--<lable><strong>✓</strong></lable>-->
                                        <span class="flaticon-correct-symbol" style="position: relative;margin-left: -20px;color: green;"></span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (@ViewBag.solicitud.grupoID == null && @ViewBag.solicitud.status == 1 && ViewBag.liberable)
                {
                    <div align="left" id="div_liberar">
                        <a id="liberar" href="#" onClick="return false;" style="font-size:1em;opacity:.5;">LIBERAR</a>
                    </div>
                }
            </div>
            <div class="col-md-6">
                <label><span class="flaticon-dollar-symbol" style="position: relative;margin-left: -20px;color: lightgray;"></span><strong>IMPORTE:</strong></label>
                <label class="badge badge-success" style="font-size:1em"><strong>@string.Format("{0:#,0.00}", ViewBag.solicitud.importe)</strong></label>
                <div class="" style="margin-top: 6em;">
                    <center id="botonera">
                        @if (@ViewBag.solicitud.status == 1 || @ViewBag.solicitud.status == 10)
                        {

                            <a href="/Bandeja/cambioEstado/?_ID=@ViewBag.solicitud.solicitudID&status=7" class="btn btn-info btn_ACB"><span class="flaticon-thumbs-up" style="position: relative;margin-left: -20px;"></span> AUTORIZAR CONSULTA DE BURÓ</a>

                        }
                        else if (@ViewBag.solicitud.status == 9)
                        {
                            <!--<a href="/Bandeja/cambioEstado/?_ID=@ViewBag.solicitud.solicitudID&status=2&grupo=@ViewBag.solicitud.grupoID" class="btn btn-success btn_APR"><span class="flaticon-correct-symbol" style="position: relative;margin-left: -20px;"></span> DICTAMINAR</a>-->
                            <a href="#" id="montoDictamen" class="form_cambio btn btn-success" onClick="return false;" data-toggle="modal" data-target="#ModalDictamen" style="margin-top:1em;"><span class="flaticon-correct-symbol" style="position: relative;margin-left: -20px;"></span> DICTAMINAR</a>
                            <!--<a href="/Bandeja/cambioEstado/?_ID=@ViewBag.solicitud.solicitudID&status=3&grupo=@ViewBag.solicitud.grupoID" class="btn btn-danger btn_DEN" style="margin-top:1em;"><span class="flaticon-x-mark" style="position: relative;margin-left: -20px;"></span> RECHAZAR</a>-->
                            <a href="#" id="razonRechazo" class="form_cambio btn btn-danger" onClick="return false;" data-toggle="modal" data-target="#ModalRechazo" style="margin-top:1em;"><span class="flaticon-x-mark" style="position: relative;margin-left: -20px;"></span> RECHAZAR</a>
                        }
                        else if (@ViewBag.solicitud.status == 2)
                        {
                            <label class="badge badge-success" style="font-size:1.1em"><span class="flaticon-correct-symbol" style="position: relative;margin-left: -20px;"></span> DICTAMINADO</label>
                        }
                        else if (ViewBag.solicitud.status == 3)
                        {
                            <label class="badge badge-danger" style="font-size:1.1em"><span class="flaticon-x-mark" style="position: relative;margin-left: -20px;"></span> RECHAZADO</label>
                        }
                    </center>
                    <center id="mensajeBotonera"></center>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal DICTAMEN-->
    <div class="modal fade" id="ModalDictamen" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog " style="border-radius: 25px;opacity:.9;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: steelblue;">
                    <label style="margin-left: auto; color:white;"><Strong>DICTAMINAR SOLICITUD</Strong></label>
                    <button type="button" class="close accionModal" data-dismiss="modal"><span class="flaticon-x-mark" style="position: relative;margin-left: -20px;color:white;"></span></button>
                    <button type="button" class="close cargandoModal">-</button>
                </div>
                <div id="form_dictamen" class="modal-body">
                    <div class="form-group">
                        <label><strong>Importe Dictaminado:</strong></label>
                        <br />
                        <div style="padding-left:3em;padding-right:3em;">
                            <input id="text_monto" type="text" class="form-control" maxlength="10" onkeypress='validate(event)' value="@ViewBag.solicitud.importe" style="text-align:center;" />
                        </div>
                    </div>
                    <div class="form-group" align="center">
                        <button id="enviar_dictamen" type="button" class="btn btn-success accionModal"><span class="flaticon-correct-symbol" style="position: relative;margin-left: -20px;"></span> CONFIRMAR</button>
                        <label class="cargandoModal"><strong>DICTAMINANDO, POR FAVOR ESPERE ...</strong></label>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: steelblue;">
                </div>
            </div>

        </div>
    </div>

    <!-- Modal RECHAZO-->
    <div class="modal fade" id="ModalRechazo" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="border-radius: 25px;opacity:.9;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: steelblue;">
                    <label style="margin-left: auto; color:white;"><Strong>RECHAZAR SOLICITUD</Strong></label>
                    <button type="button" class="close accionModal" data-dismiss="modal"><span class="flaticon-x-mark" style="position: relative;margin-left: -20px;color:white;"></span></button>
                    <button type="button" class="close cargandoModal">-</button>
                </div>
                <div id="form_dictamen" class="modal-body">
                    <div class="form-group">
                        <label><strong>Motivo:</strong></label>
                        <br />
                        <div style="padding-left:2em;padding-right:2em;">
                            <textarea id="text_rechazo" placeholder="Escribe aquí de forma breve y clara el motivo del rechazo." style="width:100%;text-transform:uppercase" rows="3" maxlength="99"></textarea>
                        </div>
                    </div>
                    <div class="form-group" align="center">
                        <button id="enviar_rechazo" type="button" class="btn btn-success accionModal"><span class="flaticon-x-mark" style="position: relative;margin-left: -20px;"></span> RECHAZAR</button>
                        <label class="cargandoModal"><strong>RECHAZANDO, POR FAVOR ESPERE ...</strong></label>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: steelblue;">
                </div>
            </div>

        </div>
    </div>

    <!-- Modal CAMBIO DE DOCUMENTO-->
    <div class="modal fade" id="ModalCambioDoc" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="border-radius: 25px;opacity:.9;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: steelblue;">
                    <label style="margin-left: auto; color:white;"><Strong>SOLICITAR CAMBIO DE DOCUMENTO</Strong></label>
                    <button type="button" class="close accionModal" data-dismiss="modal"><span class="flaticon-x-mark" style="position: relative;margin-left: -20px;color:white;"></span></button>
                    <button type="button" class="close cargandoModal">-</button>
                </div>
                <div id="form_cambio" class="modal-body">
                    <div>
                        <label><strong>Documento:</strong></label>
                        <br />
                        <div style="padding-left:2em;padding-right:2em;">
                            <label id="label_doc"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><strong>Observación:</strong></label>
                        <br />
                        <div style="padding-left:2em;padding-right:2em;">
                            <textarea id="text_cambio" placeholder="Escribe aquí de forma breve y clara el motivo del cambio." style="width:100%;text-transform:uppercase" rows="3" maxlength="99"></textarea>
                        </div>
                    </div>
                    <div class="form-group" align="center">
                        <button id="enviar_cambio" type="button" class="btn btn-success accionModal"><span class="flaticon-paper-plane" style="position: relative;margin-left: -20px;"></span> ENVIAR</button>
                        <label class="cargandoModal"><strong>SOLICITANDO CAMBIOS, POR FAVOR ESPERE ...</strong></label>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: steelblue;">
                </div>
            </div>

        </div>
    </div>

    <!-- Modal EDITAR IDENTIFICACION-->
    <div class="modal fade" id="ModalEditar1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="border-radius: 25px;opacity:.9;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: steelblue;">
                    <label style="margin-left: auto; color:white;"><Strong>EDITAR INFORMACIÓN DE IDENTIFICACIÓN</Strong></label>
                    <button type="button" class="close accionModal" data-dismiss="modal"><span class="flaticon-x-mark" style="position: relative;margin-left: -20px;color:white;"></span></button>
                    <button type="button" class="close cargandoModal">-</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <label><span style="color: red;">*</span><strong>Primer Nombre:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formPrimerNombre" type="text" class="form-control" maxlength="50" value="@ViewBag.solicitud.persona.nombre" style="text-transform:uppercase" />
                                <div align="right">
                                    <i id="countPNombre" align="right" style="font-size: .7em;margin-bottom: 0px">@ViewBag.solicitud.persona.nombre.Length/50</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><strong>Segundo Nombre:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formSegundoNombre" type="text" class="form-control" maxlength="50" value="@ViewBag.solicitud.persona.nombreSegundo" style="text-transform:uppercase" />
                                <div align="right">
                                    <i id="countSNombre" align="right" style="font-size: .7em;margin-bottom: 0px">@ViewBag.solicitud.persona.nombreSegundo.Length/50</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span style="color: red;">*</span><strong>Primer Apellido:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formPrimerApellido" type="text" class="form-control" maxlength="50" value="@ViewBag.solicitud.persona.apellido" style="text-transform:uppercase" />
                                <div align="right">
                                    <i id="countPApellido" align="right" style="font-size: .7em;margin-bottom: 0px">@ViewBag.solicitud.persona.apellido.Length/50</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><strong>Segundo Apellido:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formSegundoApellido" type="text" class="form-control" maxlength="50" value="@ViewBag.solicitud.persona.apellidoSegundo" style="text-transform:uppercase" />
                                <div align="right">
                                    <i id="countSApellido" align="right" style="font-size: .7em;margin-bottom: 0px">@ViewBag.solicitud.persona.apellidoSegundo.Length/50</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span style="color: red;">*</span><strong>Curp:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formCurp" type="text" class="form-control" maxlength="18" value="@ViewBag.solicitud.persona.curp" style="text-transform:uppercase" />
                                <div align="right">
                                    <i id="countCurp" align="right" style="font-size: .7em;margin-bottom: 0px">@ViewBag.solicitud.persona.curp.Length/18</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span style="color: red;">*</span><strong>RFC:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formRfc" type="text" class="form-control" maxlength="13" value="@ViewBag.solicitud.persona.rfc" style="text-transform:uppercase" />
                                <div align="right">
                                    <i id="countRfc" align="right" style="font-size: .7em;margin-bottom: 0px">(puede omitirse la homoclave)@ViewBag.solicitud.persona.rfc.Length/13</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span style="color: red;">*</span><strong>Fecha de Nacimiento:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formFechaNac" type="date" class="form-control" value="@ViewBag.solicitud.persona.fechaNacimiento.ToString("yyyy-MM-dd")" />
                                <div align="left">
                                    <i style="font-size: .7em;margin-bottom: 0px;margin-left:1em;">día / mes / año</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span style="color: red;">*</span><strong>Teléfono:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formTelefono" type="text" class="form-control" maxlength="10" onkeypress='validate(event)' value="@ViewBag.solicitud.persona.telefono" />
                                <div align="right">
                                    <i id="countTelefono" align="right" style="font-size: .7em;margin-bottom: 0px">@ViewBag.solicitud.persona.telefono.Length/10</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <center>
                                <div style="padding-left:2em;padding-right:2em;">
                                    <br />
                                    <button id="formActualiza1" type="button" class="btn btn-success accionModal"><span class="flaticon-pencil-edit-button" style="position: relative;margin-left: -20px;"></span> ACTUALIZAR</button>
                                    <label class="cargandoModal"><strong>ACTUALIZANDO INFORMACIÓN DE IDENTIFICACIÓN, POR FAVOR ESPERE ...</strong></label>
                                </div>
                            </center>
                            <div align="right">
                                <span style="color: red;">*</span><label style="font-size: .7em">Campos Obligatorios</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: steelblue;">
                </div>
            </div>

        </div>
    </div>

    <!-- Modal EDITAR UBICACIÓN-->
    <div class="modal fade" id="ModalEditar2" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="border-radius: 25px;opacity:.9;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: steelblue;">
                    <label style="margin-left: auto; color:white;"><Strong>EDITAR INFORMACIÓN DE UBICACIÓN</Strong></label>
                    <button type="button" class="close accionModal" data-dismiss="modal"><span class="flaticon-x-mark" style="position: relative;margin-left: -20px;color:white;"></span></button>
                    <button type="button" class="close cargandoModal">-</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 row">
                        <div class="col-md-12">
                            <label><span style="color: red;">*</span><strong>Calle y Numero:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formCalle" type="text" class="form-control" maxlength="40" value="@ViewBag.solicitud.direccion.direccion1" style="text-transform:uppercase" />
                                <div align="right">
                                    <i id="countCalle" align="right" style="font-size: .7em;margin-bottom: 0px">@ViewBag.solicitud.direccion.direccion1.Length/40</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span style="color: red;">*</span><strong>Colonia/Población:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formColonia" type="text" class="form-control" maxlength="40" value="@ViewBag.solicitud.direccion.coloniaPoblacion" style="text-transform:uppercase" />
                                <div align="right">
                                    <i id="countColonia" align="right" style="font-size: .7em;margin-bottom: 0px">@ViewBag.solicitud.direccion.coloniaPoblacion.Length/40</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span style="color: yellow;">*</span><strong>Delegación/Municipio:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formMunicipio" type="text" class="form-control" maxlength="40" value="@ViewBag.solicitud.direccion.delegacionMunicipio" style="text-transform:uppercase" />
                                <div align="right">
                                    <i id="countMunicipio" align="right" style="font-size: .7em;margin-bottom: 0px">@ViewBag.solicitud.direccion.delegacionMunicipio.Length/40</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span style="color: yellow;">*</span><strong>Ciudad:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formCiudad" type="text" class="form-control" maxlength="40" style="text-transform:uppercase" value="@ViewBag.solicitud.direccion.ciudad" style="text-transform:uppercase" />
                                <div align="right">
                                    <i id="countCiudad" align="right" style="font-size: .7em;margin-bottom: 0px">@(ViewBag.solicitud.direccion.ciudad == null ? 0 : ViewBag.solicitud.direccion.ciudad.Length)/40</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span style="color: red;">*</span><strong>Estado:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <!--<input type="text" class="form-control" maxlength="40" value="@ViewBag.estado" />-->
                                <select id="formEstado" class="form-control">
                                    @foreach (var dist in (IEnumerable<CatEstado>)ViewBag.catEstados)
                                    {
                                        @if (dist.clave == @ViewBag.solicitud.direccion.estado)
                                        {
                                            <option value="@dist.clave" selected> @dist.estado </option>
                                        }
                                        else
                                        {
                                            <option value="@dist.clave"> @dist.estado </option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span style="color: red;">*</span><strong>Código Postal:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formCP" type="text" class="form-control" maxlength="5" onkeypress='validate(event)' value="@ViewBag.solicitud.direccion.cp" />
                                <div align="right">
                                    <i id="countCP" align="right" style="font-size: .7em;margin-bottom: 0px">@ViewBag.solicitud.direccion.cp.ToString().Length/5</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span style="color: red;">*</span><strong>País:</strong></label>
                            <br />
                            <div style="padding-left:2em;padding-right:2em;">
                                <input id="formPais" type="text" class="form-control" maxlength="2" value="@ViewBag.solicitud.direccion.pais" disabled />
                                <div align="right">
                                    <i id="countPais" align="right" style="font-size: .7em;margin-bottom: 0px">@ViewBag.solicitud.direccion.pais.Length/2</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <center>
                                <div style="padding-left:2em;padding-right:2em;">
                                    <br />
                                    <button id="formActualiza2" type="button" class="btn btn-success accionModal"><span class="flaticon-pencil-edit-button" style="position: relative;margin-left: -20px;"></span> ACTUALIZAR</button>
                                    <label class="cargandoModal"><strong>ACTUALIZANDO INFORMACIÓN DE UBICACIÓN, POR FAVOR ESPERE ...</strong></label>
                                </div>
                            </center>
                            <div align="right">
                                <span style="color: red;">*</span><label style="font-size: .7em;margin-bottom: 0px;">Campos Obligatorios</label><br />
                                <span style="color: yellow;">*</span><label style="font-size: .7em">Campo Obligatorio solo si el otro No es capturado</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: steelblue;">
                </div>
            </div>

        </div>
    </div>


    <script>
    $(document).ready(function () {
        $(".popup").click(function () {
            window.open("/Bandeja/Documento/?documentoUrlBase64=" + btoa($(this).attr('oid')), btoa($(this).attr('oid')), "width=800,height=600, top=85,left=50");
        });

        var checkAudita = "@ViewBag.solicitud.mesaControlID";
        if (checkAudita == "") {
            window.close();
        }
    });

    $(".btn_ACB").click(function (e) {
        var res = confirm("Antes de AUTORIZAR LA CONSULTA DE BURÓ confirme que ha validado todos los datos y documentos de esta solicitud.\n\n\nPara Confirmar de clic en 'ACEPTAR'");
        if (res) {
            $("#botonera").html("<strong>AUTORIZANDO CONSULTA DE BURÓ, POR FAVOR ESPERE ...</strong>");
            $("#div_liberar").html("");
        }
        console.log(res);
        return res;
    });

    $(".btn_DEN").click(function (e) {
        var res = confirm("Esta a punto de DENEGAR la solicitud.\n\n\nPara Confirmar de clic en 'ACEPTAR'");
        if (res) {
            $("#botonera").html("<strong>DENEGANDO SOLICITUD, POR FAVOR ESPERE ...</strong>");
        }
        console.log(res);
        return res;
    });

    $(".btn_APR").click(function (e) {
        var res = confirm("Esta a punto de DICTAMINAR la solicitud.\n\n\nPara Confirmar de clic en 'ACEPTAR'");
        if (res) {
            $("#botonera").html("<strong>DICTAMINANDO SOLICITUD, POR FAVOR ESPERE ...</strong>");
        }
        console.log(res);
        return res;
    });

    $(".form_cambio").click(function () {
        $("#label_doc").html("<i>" + $("#tipoDoc_" + $(this).attr('tipo')).text() + "</i >");
        $("#enviar_cambio").attr("oid", $(this).attr("id"));
        $("#enviar_cambio").attr("tipo", $(this).attr("tipo"));
        $("#enviar_cambio").attr("version", $(this).attr("version"));
        //console.log($(this).attr("id"))
        $("#text_cambio").attr("disabled", false);
        $("#enviar_cambio").show();
        $(".accionModal").show();
        $(".cargandoModal").hide();
        $("#text_cambio").val("");
        if ($(this).text() == "PENDIENTE") {
            $("#text_cambio").val($(this).attr("text"));
            $("#text_cambio").attr("disabled", true);
            $("#enviar_cambio").hide();
        }
    });

    $("#btn_editar1").click(function () {
        $(".accionModal").show();
        $(".cargandoModal").hide();
    });

    $("#btn_editar2").click(function () {
        $(".accionModal").show();
        $(".cargandoModal").hide();
    });

    $("#formCP").on("change paste keyup", function () {
        if ($(this).val().length < 5) {
            $("#countCP").css("color", "red");
        } else {
            $("#countCP").css("color", "black");
        }
        $("#countCP").html($(this).val().length + "/5");
    });

    $("#formCalle").on("change paste keyup", function () {
        if ($(this).val().length == 0) {
            $("#countCalle").css("color", "red");
        } else {
            $("#countCalle").css("color", "black");
        }
        $("#countCalle").html($(this).val().length + "/40");
    });

    $("#formColonia").on("change paste keyup", function () {
        if ($(this).val().length == 0) {
            $("#countColonia").css("color", "red");
        } else {
            $("#countColonia").css("color", "black");
        }
        $("#countColonia").html($(this).val().length + "/40");
    });

    $("#formMunicipio").on("change paste keyup", function () {
        if ($(this).val().length == 0 && $("#formCiudad").val().length == 0) {
            $("#countMunicipio").css("color", "red");
            $("#countCiudad").css("color", "red");
        } else {
            $("#countCiudad").css("color", "black");
            $("#countMunicipio").css("color", "black");
        }
        $("#countMunicipio").html($(this).val().length + "/40");
    });

    $("#formCiudad").on("change paste keyup", function () {
        if ($(this).val().length == 0 && $("#formMunicipio").val().length == 0) {
            $("#countCiudad").css("color", "red");
            $("#countMunicipio").css("color", "red");
        } else {
            $("#countCiudad").css("color", "black");
            $("#countMunicipio").css("color", "black");
        }
        $("#countCiudad").html($(this).val().length + "/40");
    });

    $("#formActualiza2").click(function (e) {
        $("#formActualiza2").attr("disabled", true);
        var calle = $("#formCalle").val();
        var colonia = $("#formColonia").val();
        var municipio = $("#formMunicipio").val();
        var ciudad = $("#formCiudad").val();
        var estado = $("#formEstado").val();
        var estadoText = $("#formEstado option:selected").text();
        var cp = $("#formCP").val();
        var pais = $("#formPais").val();
        var idDoc = "@ViewBag.solicitud.solicitudID";

        var valCiuMun = ciudad.length == 0 && municipio.length == 0 ? 0 : 1;
        var valCP = cp.length == 5 ? 1 : 0;

        if ((calle.length * colonia.length * valCiuMun * estado.length * cp.length * pais.length * valCP) > 0) {
            if (confirm("Esta a punto de actualizar la Información de Ubicación de esta solicitud.\n\n\n¿Desea continuar?")) {

                $(".accionModal").hide();
                $(".cargandoModal").show();
                var actUbi = {
                    idDocumento: idDoc,
                    calle: calle.toUpperCase(),
                    colonia: colonia.toUpperCase(),
                    municipio: municipio.toUpperCase(),
                    ciudad: ciudad.toUpperCase(),
                    estado: estado.toUpperCase(),
                    cp: cp.toUpperCase(),
                    pais: pais.toUpperCase()
                };

                $.ajax({
                    type: "POST",
                    url: "/Bandeja/ActualizaUbicacion",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: actUbi,
                    beforeSend: function (xhr) {
                    },
                    success: function (d) {
                        if (d.Success) {
                            $('#ModalEditar2').modal('toggle');
                            $("#tdCalle").html(calle.toUpperCase());
                            $("#tdColonia").html(colonia.toUpperCase());
                            $("#tdMunicipio").html(municipio.toUpperCase());
                            $("#tdCiudad").html(ciudad.toUpperCase());
                            $("#tdEstado").html(estadoText.toUpperCase());
                            $("#tdCP").html(cp);
                            $("#tdPais").html(pais.toUpperCase());
                        } else {
                            alert("Error!!");
                        }
                        $("#formActualiza2").attr("disabled", false);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                        $("#formActualiza2").attr("disabled", false);
                    }
                });
            } else {
                $("#formActualiza2").attr("disabled", false);
            }
        } else {
            alert("ATENCIÓN: No se han llenado los campos obligatorios o no se llenaron correctamente.\n\nPor favor revisa el formulario y completa la información.");
            $("#formActualiza2").attr("disabled", false);
        }
    });

    $("#formPrimerNombre").on("change paste keyup", function () {
        if ($(this).val().length == 0) {
            $("#countPNombre").css("color", "red");
        } else {
            $("#countPNombre").css("color", "black");
        }
        $("#countPNombre").html($(this).val().length + "/50");
    });

    $("#formSegundoNombre").on("change paste keyup", function () {
        if ($(this).val().length == 0) {
            $("#countSNombre").css("color", "red");
        } else {
            $("#countSNombre").css("color", "black");
        }
        $("#countSNombre").html($(this).val().length + "/50");
    });

    $("#formPrimerApellido").on("change paste keyup", function () {
        if ($(this).val().length == 0) {
            $("#countPApellido").css("color", "red");
        } else {
            $("#countPApellido").css("color", "black");
        }
        $("#countPApellido").html($(this).val().length + "/50");
    });

    $("#formSegundoApellido").on("change paste keyup", function () {
        if ($(this).val().length == 0) {
            $("#countSApellido").css("color", "red");
        } else {
            $("#countSApellido").css("color", "black");
        }
        $("#countSApellido").html($(this).val().length + "/50");
    });

    $("#formCurp").on("change paste keyup", function () {
        if ($(this).val().length < 18) {
            $("#countCurp").css("color", "red");
        } else {
            $("#countCurp").css("color", "black");
        }
        $("#countCurp").html($(this).val().length + "/18");
    });

    $("#formTelefono").on("change paste keyup", function () {
        if ($(this).val().length < 10) {
            $("#countTelefono").css("color", "red");
        } else {
            $("#countTelefono").css("color", "black");
        }
        $("#countTelefono").html($(this).val().length + "/10");
    });

    $("#formRfc").on("change paste keyup", function () {
        if ($(this).val().length != 10 && $(this).val().length != 13) {
            $("#countRfc").css("color", "red");
        } else {
            $("#countRfc").css("color", "black");
        }
        $("#countRfc").html("(puede omitirse la homoclave)"+$(this).val().length + "/13");
    });

    $("#formActualiza1").click(function (e) {
        $("#formActualiza1").attr("disabled", true);
        var pNombre = $("#formPrimerNombre").val();
        var sNombre = $("#formSegundoNombre").val();
        var pApellido = $("#formPrimerApellido").val();
        var sApellido = $("#formSegundoApellido").val();
        var curp = $("#formCurp").val();
        var rfc = $("#formRfc").val();
        var fNacimiento = $("#formFechaNac").val();
        var telefono = $("#formTelefono").val();
        var idDoc = "@ViewBag.solicitud.solicitudID";

        var valCurp = curp.length == 18 ? 1 : 0;
        var valRfc = rfc.length != 10 && rfc.length != 13 ? 0 : 1;
        var valTel = telefono.length == 10 ? 1 : 0;

        if ((pNombre.length * pApellido.length * curp.length * rfc.length * fNacimiento.length * telefono.length * valCurp * valRfc * valTel) > 0) {
            if(confirm("Esta a punto de actualizar la Información de Identidficación de esta solicitud.\n\n\n¿Desea continuar?")) {

                $(".accionModal").hide();
                $(".cargandoModal").show();
                var actInfo = {
                    idDocumento: idDoc,
                    pNombre: pNombre.toUpperCase(),
                    sNombre: sNombre.toUpperCase(),
                    pApellido: pApellido.toUpperCase(),
                    sApellido: sApellido.toUpperCase(),
                    curp: curp.toUpperCase(),
                    rfc: rfc.toUpperCase(),
                    fNacimiento: fNacimiento,
                    telefono: telefono,
                };

                $.ajax({
                    type: "POST",
                    url: "/Bandeja/ActualizaInformacion",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: actInfo,
                    beforeSend: function (xhr) {
                    },
                    success: function (d) {
                        if (d.Success) {
                            $('#ModalEditar1').modal('toggle');
                            $("#tdNombre").html(pNombre.toUpperCase() + " " + sNombre.toUpperCase() + " " + pApellido.toUpperCase() + " " + sApellido.toUpperCase())
                            $("#tdCurp").html(curp.toUpperCase());
                            $("#tdRfc").html(rfc.toUpperCase());
                            $("#tdFechaNac").html(fNacimiento.substring(8, 10) + "/" + fNacimiento.substring(5, 7) + "/" + fNacimiento.substring(0, 4));
                            $("#tdTelefono").html(telefono);
                        } else {
                            alert("Error!!");
                        }
                        $("#formActualiza1").attr("disabled", false);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                        $("#formActualiza1").attr("disabled", false);
                    }
                });
            } else {
                $("#formActualiza1").attr("disabled", false);
            }
        } else {
            alert("ATENCIÓN: No se han llenado los campos obligatorios o no se llenaron correctamente.\n\nPor favor revisa el formulario y completa la información.");
            $("#formActualiza1").attr("disabled", false);
        }
    });

    $('#ModalDictamen').on('shown.bs.modal', function (e) {
        $("#text_monto").focus();
    })

    $("#enviar_dictamen").click(function (e){
        $("#enviar_dictamen").attr("disabled", true);
        var idDoc = "@ViewBag.solicitud.solicitudID";
        var idGrupo = "@ViewBag.solicitud.grupoID";
        var importe = @ViewBag.solicitud.importe;
        var monto = parseFloat($("#text_monto").val());
        console.log(importe);
        console.log(monto);
        if (Number.isNaN(monto) || monto <= 0 || monto % 500 > 0 || monto > importe || typeof monto == "undefined") {
            alert("El importe dictaminado debe ser:\n\n- mayor a 0 (cero)\n- menor o igual al monto inicial solicitado ($" + importe + " MXN)\n- multiplo de 500 (ej. 500, 1000, 1500, ..., etc.)");
            $("#enviar_dictamen").attr("disabled", false);
        } else {
            if (confirm("Esta a punto de dictaminar esta solicitud con el importe de $"+monto+" MXN.\n\n\n¿Desea continuar?")) {
                var dictamen = {
                    idDocumento: idDoc,
                    monto: monto,
                    motivoRechazo: null,
                    status: 2,
                    grupoID: idGrupo
                };

                $.ajax({
                    type: "POST",
                    url: "/Bandeja/Dictaminar",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: dictamen,
                    beforeSend: function (xhr) {
                        $("#botonera").hide();
                        $(".accionModal").hide();
                        $(".cargandoModal").show();
                    },
                    success: function (d) {
                        if (d.Success) {
                            $("#mensajeBotonera").html("DICTAMINANDO SOLICITUD, POR FAVOR ESPERE ...")
                            $('#ModalDictamen').modal('toggle');
                            location.reload();
                        } else {
                            alert("Error en respuesta.");
                            $("#botonera").show();
                        }
                        $("#enviar_dictamen").attr("disabled", false);
                        $(".accionModal").show();
                        $(".cargandoModal").hide();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error al realizar la acción!!');
                        $("#botonera").show();
                        $("#enviar_dictamen").attr("disabled", false);
                        $(".accionModal").show();
                        $(".cargandoModal").hide();
                    }
                });

            } else {
                $("#enviar_dictamen").attr("disabled", false);
            }
        }
    });

    $("#enviar_rechazo").click(function (e){
        $("#enviar_rechazo").attr("disabled", true);
        var idDoc = "@ViewBag.solicitud.solicitudID";
        var motivo = $("#text_rechazo").val();
        var idGrupo = "@ViewBag.solicitud.grupoID";
        var importe = @ViewBag.solicitud.importe;
        if (motivo.length <= 0 || typeof motivo == "undefined") {
            alert("Es necesario escribir el motivo del rechazo, por favor se breve y claro");
            $("#enviar_rechazo").attr("disabled", false);
        } else {
            if (confirm("Esta a punto de rechazar esta solicitud.\n\n\n¿Desea continuar?")) {
                var dictamen = {
                    idDocumento: idDoc,
                    monto: importe,
                    motivoRechazo: motivo.toUpperCase(),
                    status: 3,
                    grupoID: idGrupo
                };

                $.ajax({
                    type: "POST",
                    url: "/Bandeja/Dictaminar",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: dictamen,
                    beforeSend: function (xhr) {
                        $("#botonera").hide();
                        $(".accionModal").hide();
                        $(".cargandoModal").show();
                    },
                    success: function (d) {
                        if (d.Success) {
                            $("#mensajeBotonera").html("RECHAZANDO SOLICITUD, POR FAVOR ESPERE ...")
                            $('#ModalRechazo').modal('toggle');
                            location.reload();
                        } else {
                            alert("Error en respuesta.");
                            $("#botonera").show();
                        }
                        $("#enviar_rechazo").attr("disabled", false);
                        $(".accionModal").show();
                        $(".cargandoModal").hide();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error al realizar la acción!!');
                        $("#botonera").show();
                        $("#enviar_rechazo").attr("disabled", false);
                        $(".accionModal").show();
                        $(".cargandoModal").hide();
                    }
                });

            } else {
                $("#enviar_rechazo").attr("disabled", false);
            }
        }
    });

    $("#liberar").click(function (e) {
        var idDoc = "@ViewBag.solicitud.solicitudID";
        if (confirm("Esta a punto de LIBERAR esta Solicitud para que otro usuario de mesa de control pueda auditarla.\n\n\n¿Desea continuar?")) {
            var dictamen = {
                idDocumento: idDoc,
                monto: 0,
                motivoRechazo: null,
                status: 0,
                grupoID: null
            };

            $.ajax({
                type: "POST",
                url: "/Bandeja/Liberar",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: dictamen,
                beforeSend: function (xhr) {
                    $("#botonera").hide();
                    $("#div_liberar").html("");
                },
                success: function (d) {
                    if (d.Success) {
                        $("#mensajeBotonera").html("LIBERANDO SOLICITUD, POR FAVOR ESPERE ...");
                        window.close();
                    } else {
                        alert("Error en respueta al liberar.");
                        $("#botonera").show();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error al realizar la acción!!');
                    $("#botonera").show();
                }
            });
        } else {
        }
    });

    $("#enviar_cambio").click(function (e) {
        $("#enviar_cambio").attr("disabled", true);
        var docText = $("#label_doc i").text();
        var observ = $("#text_cambio").val();
        var idElem = $(this).attr("oid");
        var idDoc = "@ViewBag.solicitud.solicitudID";
        var tipo = $(this).attr("tipo");
        var version = $(this).attr("version");
        if (observ.length > 0) {
            console.log('#'+idDoc);
            if (confirm("Esta a punto de solicitar el CAMBIO del Documento: " + docText+", no podrá autorizar hasta que se haga dicho cambio.\n\n\n¿Desea continuar?")) {
                var cambio = {
                    idDocumento: idDoc,
                    observacion: observ.toUpperCase(),
                    tipo: tipo,
                    version: version
                };
                $.ajax({
                    type: "POST",
                    url: "/Bandeja/CambioDocumento",
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: cambio,
                    beforeSend: function (xhr) {
                        $(".accionModal").hide();
                        $(".cargandoModal").show();
                    },
                    success: function (d) {
                        if (d.Success) {
                            $("#text_cambio").val("");
                            $('#ModalCambioDoc').modal('toggle');
                            $('.btn_ACB').remove();
                            $('#' + idElem).text("PENDIENTE");
                            $("#_label").removeClass("badge-info");
                            $("#_label").addClass("badge-warning");
                            $("#_label").text("EN REVISIÓN");
                            //$('#' + idElem).addClass("btn-warning");
                            $('#' + idElem).css('font-weight', 'bold');
                            $('#' + idElem).attr('text', observ);
                        } else {
                            alert("Error");
                            location.reload();
                        }
                        $("#enviar_cambio").attr("disabled", false);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error!!');
                        $("#enviar_cambio").attr("disabled", false);
                    }
                });
            } else {
                $("#enviar_cambio").attr("disabled", false);
            }
        } else {
            alert("Es necesario escribir el motivo del cambio, por favor se breve y claro.");
            $("#enviar_cambio").attr("disabled", false);
        }
    });

    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
    </script>
}
else
{
    <div style="background-color: lightcoral;color:white; padding:1em;" align="center"><strong>Error: @ViewBag.error</strong></div>
}